
.invisible 
{ 
    display: none; 
}
.error 
{ 
    color:red; 
    font-weight: bold; 
}

div.compl_list li 
{ 
    list-style-type: none;
    list-style-position: inside;
}

div.compl_list ul 
{
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button 
{
    padding: 0;
    margin: 0;
    border: 0;
}

p.result 
{ 
color:green; 
}

span.compl_stem 
{
    color: gray;
    font-size: small;
}

div.main_page
{
    position: float;
}